// Define variables for your color scheme

// For example:
$red: #FF8787;
// #FD1015;
$blue: #AAC4FF;
// #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green:#BCE29E;
// #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #5e5e5e;
$forgot-pw-bg-grey: rgb(58, 90, 86);
$forgot-pw-card-grey: rgb(218,218,218);
