// Specific CSS for your home-page

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
  height: 200px;
}
@media (min-width: 992px) {
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}
