<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(./images/background.png);">
    <div class="container">
      <h1>Sopo Soaps</h1>
      <p>Get clean with our hand made, zero waste soaps!</p>
      <a class="btn btn-ghost" href="#">Buy Soap</a>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">
      <div class="card-category">
        <img src="images/membership.jpeg">
        <h4>Apply</h4>
        <p>Apply for the soap membership.</p>
      </div>

      <div class="card-category">
        <img src="images/make.png">
        <h4>Learn how to make soap</h4>
        <p>Learn how to make organic, vegan soap yourself.</p>
      </div>

      <div class="card-category">
        <img src="images/recipes.jpeg">
        <h4>Recipes</h4>
        <p>Take a look at our other recipes.</p>
      </div>
    </div>
  </div>


    <div class="footer">
      <div class="container">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </div>

</body>
</html>
