.button-map {
  position: sticky;
  bottom: 25px;
  z-index: 50;
  white-space: nowrap;
  appearance: none;
  background-color: #5e5e5e;
  border: 2px solid #5e5e5e;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 15px;
  outline: none;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 170px;
  will-change: transform;
}

.button-map:disabled {
  pointer-events: none;
}

.button-map:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
